<!-- Swiper CSS -->
{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
<!-- Swiper JS -->
<script src="{{ 'swiper-bundle.dmin.js' | asset_url }}" defer></script>

{% schema %}
    {
      "name": "Swiper Slider",
      "settings": [],
      "blocks": [
        {
          "type": "slide",
          "name": "Slide",
          "settings": [
            {
              "type": "image_picker",
              "id": "image",
              "label": "Slide Image"
            },
            {
              "type": "text",
              "id": "caption",
              "label": "Slide Caption",
              "default": "This is a caption."
            }
          ]
        }
      ],
      "presets": [
        {
          "name": "Swiper Slider",
          "category": "Custom"
        }
      ]
    }
    {% endschema %}
    
    <div class="swiper-container">
      <div class="swiper-wrapper">
        {% for block in section.blocks %}
          <div class="swiper-slide">
            <img src="{{ block.settings.image | img_url: 'master' }}" alt="{{ block.settings.caption }}">
            <p>{{ block.settings.caption }}</p>
          </div>
        {% endfor %}
      </div>
      <!-- Add Pagination -->
      <div class="swiper-pagination"></div>
      <!-- Add Navigation -->
      <div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
    </div>
    
    <script>
      document.addEventListener('DOMContentLoaded', function () {
        new Swiper('.swiper-container', {
          loop: true,
          pagination: {
            el: '.swiper-pagination',
            clickable: true,
          },
          navigation: {
            nextEl: '.swiper-button-next',
            prevEl: '.swiper-button-prev',
          },
        });
      });
    </script>
    
    <style>
      .swiper-container {
        width: 100%;
        height: 100%;
      }
      .swiper-slide {
        text-align: center;
        font-size: 18px;
        background: #fff;
    
        /* Center slide text vertically */
        display: -webkit-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        -webkit-justify-content: center;
        justify-content: center;
        -webkit-box-align: center;
        -ms-flex-align: center;
        -webkit-align-items: center;
        align-items: center;
      }
      .swiper-slide img {
        display: block;
        width: 100%;
        height: auto;
      }
    </style>
    