{{ 'swiper-bundle.min.css' | asset_url | stylesheet_tag }}
<script src='{{ 'swiper-bundle.min.js' | asset_url }}' defer></script>

{% schema %}
{
  "name": "Swiper Slider",
  "settings": [],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "image_picker",
          "id": "image",
          "label": "Slide Image"
        },
        {
          "type": "text",
          "id": "caption",
          "label": "Slide Caption",
          "default": "This is a caption."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Swiper Slider",
      "category": "Custom"
    }
  ]
}
{% endschema %}

<div class='swiper-container'>
  <div class='swiper-wrapper'>
    {% for block in section.blocks %}
      <div class='swiper-slide'>
        <img src='{{ block.settings.image | img_url: 'master' }}' alt='{{ block.settings.caption }}'>
        <p>{{ block.settings.caption }}</p>
      </div>
    {% endfor %}
  </div>
  <!-- Add Pagination -->
  <div class='swiper-pagination'></div>
  <!-- Add Navigation -->
  <div class='swiper-button-next'></div>
  <div class='swiper-button-prev'></div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const swiper = new Swiper('.swiper-container', {
      loop: true,
      pagination: {
        el: '.swiper-pagination',
        clickable: true,
      },
      navigation: {
        nextEl: '.swiper-button-next',
        prevEl: '.swiper-button-prev',
      },
    });

    // Debugging output to check if Swiper is initialized correctly
    console.log(swiper);
  });
</script>

<style>
  .swiper-container {
    width: 100%;
    height: 100%;
  }
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;

    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
  }
  .swiper-slide img {
    display: block;
    width: 100%;
    height: auto;
  }
  .swiper-pagination {
    position: absolute;
    text-align: center;
    transition: 0.3s opacity;
    transform: translate3d(0, 0, 0);
    z-index: 10;
  }
  .swiper-button-next,
  .swiper-button-prev {
    color: #000;
    position: absolute;
    top: 50%;
    width: calc(var(--swiper-navigation-size) / 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(0px - var(--swiper-navigation-size) / 2);
    z-index: 10;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .swiper-button-next {
    right: 10px;
    left: auto;
  }
  .swiper-button-prev {
    left: 10px;
    right: auto;
  }
</style>
